{% extends "base.html" %}
{% block title %}ダッシュボード{% endblock %}
{% block content %}
    <form id="graph-form">
    <select name="type" id="graph-type">
        <option value="assets" {% if selected_type == 'assets' %}selected{% endif %}>総資産推移</option>
        <option value="income" {% if selected_type == 'income' %}selected{% endif %}>収入推移</option>
        <option value="expense" {% if selected_type == 'expense' %}selected{% endif %}>支出推移</option>
    </select>
    </form>

    <div id="graph-container">
    {{ graph_html|safe }}
    </div>
{% endblock %}